@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Alice", system-ui, sans-serif;
    }
  }

*{
    scroll-snap-type: y proximity;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 400ms ease-in-out;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}

html{
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

@media (min-width: 768px) {    
    .nav-item{
        -webkit-text-fill-color: transparent;
        @apply
        relative
        bg-gradient-to-r from-primary via-primary via-50% to-black to-50%
        bg-[length:200%_100%]
        bg-[-100%]
        bg-clip-text
        no-underline
        transition-all duration-300 ease-in-out
        cursor-pointer
    }

    .header-item{
        @apply
        bg-gradient-to-r from-primary via-primary via-50% to-black to-50%
    }

    .drawer-item{
        @apply
        bg-gradient-to-r from-background via-background via-50% to-black to-50%
    }


    .nav-item:hover {
        @apply
        bg-[0]
    }

    .nav-item::before {
        content: '';
        @apply
        bg-primary
        block
        absolute
        bottom-0
        left-0
        w-0
        h-[3px]
        transition-all duration-300 ease-in-out
    }

    .nav-item:hover::before {
        @apply
        w-full
    }

    .nav-flag{
        @apply
        relative
        bg-background
        rounded-[5px]
        cursor-pointer
    }

    .nav-flag::before{
        content: '';
        @apply
        bg-primary
        block
        absolute
        top-1/2
        left-1/2
        translate-x-[-50%]
        translate-y-[-50%]
        z-[-1]
        w-0
        h-0
        opacity-0
        rounded-[5px]
        transition-all duration-300 ease-in-out
    }

    .nav-flag:hover::before {
        @apply
        opacity-100
        w-[35px]
        h-[35px]
    }
}